{% for label, messages in app.flashes(['success','warning','info']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
