<h1>Ranked Choice Shop - Thank you for your purchase!</h1>

<p>
    Hello, {{ user.fullName }}!
    To login into your profile use this password: <br />
    {{ plainPassword }}

</p>

<a href="{{ profileUrl }}" target="_blank">
    Visit our homepage.
</a>
